* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

.Button {
    padding: 5px 10px;
    /* border-radius: 10px; */
    border: 3px solid transparent;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
}

.Button:active {
    border: 3px solid transparent;
    border-top: 3px solid black;
    border-left: 3px solid black;
    transform: translateY(3px);
}